html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  padding: 0;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  position:relative;
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: white;
}


#main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#container {
  font-size: 60px;
  /*line-height: 0.93em;*/
  display: block;
  text-align: center;
  position: absolute;
  width: 80%;
  height: 80%;
  margin: auto;
  left: 0;
  bottom: 0;
  right:0;
  top:0;
  padding: 0;
  z-index: 4;
  letter-spacing: -1px;
  font-weight: 300;
  overflow: auto;
}

.menuLinks {
  text-decoration: none;
  color: black;
}

#about {
  display: block;
  position: absolute;
  font-size: 15px;
  top: 45px;
  left: 49px;
  letter-spacing: 1.2px;
}

#index {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 15px;
  z-index: 999999;
  height: 20px;
  letter-spacing: 1.2px;
  text-align: right;
}

#resume {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 15px;
  z-index: 999999;
  width: 380px;
  height: 20px;
  letter-spacing: 1.2px;
  text-align: left;
}

#contact {
  display: block;
  position: absolute;
  font-size: 15px;
  bottom: 35px;
  right: 49px;
  text-align: right;
  letter-spacing: 1.2px;
  z-index: 66666;
}

.work {
  width: 100%;
  border: solid;
  height: 15%;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-top: 2%;
  padding-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
}


.caption {
  font-size: 25px;
  color: red;
  position: relative;
  display: block;
  cursor: pointer;
}



@media (max-width: 710px) {
  #container {
    font-size: 40px;
  }
  .caption {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  #container {
    font-size: 30px;
    width: 70%;
    height: 70%;
  }
  .caption {
    font-size: 15px;
  }
}
